{% extends 'layout.html.twig' %}
{% block content %}
    <div class="ship-page">
        <div class="main-ship">
            <section class="ship-characteristic">
                <ul>
                    <li><h4 class="ship-details">Crew : {{ ship.crew }}</h4></li>
                    <li><h4 class="ship-details">Passengers : {{ ship.passengers }}</h4></li>
                    <li><h4 class="ship-details">Hyper Drive rating : {{ ship.hyperDriveRating }}</h4></li>
                    <li><h4 class="ship-details">Capacity : {{ ship.cargoCapacity }}</h4></li>
                    <li><h4 class="ship-details">Price : {{ ship.costInCredits }}</h4></li>
                </ul>
                    <button class="button-rent" style="vertical-align:middle"><span>Rent</span></button>
             </section>
            <div class="all-for-one-ship">
                <h2 class="shipTitle">{{ ship.model }}</h2>
                <img class="oneShipImage" src="{{ ship.picturePath }}">
             </div>
        </div>
    </div>
    {% if ship.id == 1 %}
        <h2 class="shipForJourney">Planets available for this ship</h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
            <h3 class="planet-name-ship-page">Venus</h3>
                <a href="/planet?id=2"><img class="planets-picture-ship-page" src="/assets/images/venus.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
            <h3 class="planet-name-ship-page">Mercure</h3>
                <a href="/planet?id=3"><img class="planets-picture-ship-page" src="/assets/images/mercure.png" alt=""></a>
            </div>
        </div>
    {% endif %}

    {% if ship.id == 2 %}
        <h2 class="shipForJourney">Planets available for this ship</h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mars</h3>
                <a href="/planet?id=1"><img class="planets-picture-ship-page" src="/assets/images/mars.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mercure</h3>
                <a href="/planet?id=3"><img class="planets-picture-ship-page" src="/assets/images/mercure.png" alt=""></a>
            </div>
        </div>
    {% endif %}

    {% if ship.id == 3 %}
        <h2 class="shipForJourney">Planets available for this ship</h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mars</h3>
                <a href="/planet?id=1"><img class="planets-picture-ship-page" src="/assets/images/mars.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Venus</h3>
                <a href="/planet?id=2"><img class="planets-picture-ship-page" src="/assets/images/venus.png" alt=""></a>
            </div>
        </div>
    {% endif %}

    {% if ship.id == 4 %}
        <h2 class="shipForJourney">Planets available for this ship</h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mars</h3>
                <a href="/planet?id=1"><img class="planets-picture-ship-page" src="/assets/images/mars.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Venus</h3>
                <a href="/planet?id=2"><img class="planets-picture-ship-page" src="/assets/images/venus.png" alt=""></a>
            </div>
        </div>
    {% endif %}

    {% if ship.id == 5 %}
        <h2 class="shipForJourney">Planets available for this ship/h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mars</h3>
                <a href="/planet?id=1"><img class="planets-picture-ship-page" src="/assets/images/mars.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mercure</h3>
                <a href="/planet?id=2"><img class="planets-picture-ship-page" src="/assets/images/mercure.png" alt=""></a>
            </div>
        </div>
    {% endif %}

    {% if ship.id == 6 %}
        <h2 class="shipForJourney">Planets available for this ship</h2>
        <div class="SR-planet-on-ship-page">
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Venus</h3>
                <a href="/planet?id=2"><img class="planets-picture-ship-page" src="/assets/images/venus.png" alt=""></a>
            </div>
            <div class="SR-planets-suggest">
                <h3 class="planet-name-ship-page">Mercure</h3>
                <a href="/planet?id=3"><img class="planets-picture-ship-page" src="/assets/images/mercure.png" alt=""></a>
            </div>
        </div>
    {% endif %}

{% endblock %}
