{% extends 'layout.html.twig' %}
{% block content %}
    <body class="ship-page">
        <div class="main-ship">
            <section class="ship-characteristic">
                <ul>
                    <li><h4 class="ship-details">Crew : {{ ship.crew }}</h4></li>
                    <li><h4 class="ship-details">Passengers : {{ ship.passengers }}</h4></li>
                    <li><h4 class="ship-details">Hyper Drive rating : {{ ship.hyperDriveRating }}</h4></li>
                    <li><h4 class="ship-details">Capacity : {{ ship.cargoCapacity }}</h4></li>
                    <li><h4 class="ship-details">Price : {{ ship.costInCredits }}</h4></li>
                </ul>
                    <button class="button-rent" style="vertical-align:middle"><span>Rent</span></button>
             </section>
            <div class="all-for-one-ship">
                <h2 class="shipTitle">{{ ship.model }}</h2>
                <img class="oneShipImage" src="{{ ship.picturePath }}">
             </div>
        </div>
    </body>
{% endblock %}
