{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="links-product-page"><a class="debug " href="/">Accueil</a> / <a class="debug" href="/product/sortSub?subCat={{ filter.name_sub_category }}">{{ catNameFrench }}</a>
        / <a class="debug" href="#">{{ product.name_product }}</a></h1>
    <div class="one-product">
        <img class="oneProductImage" src="/assets/images/{{ product.image }}" alt="{{ product.name_product }}">
        <section class="product-characteristic">
            <h2 class="bigTitle">{{ product.name_product }}</h2>
            <section class="added-to-cart">
                <p class="price">{{ product.price }}€</p>
            </section>
            <p class="product-description">{{ product.description }}</p>
            <form action="" method="get">
                <a href="/product/add?id={{ product.id }}">
                    <button type="button" class="btn btn-success" name="cart" id="btn-ajout-panier">Ajouter au panier</button></a>
                <a href="/wishlist/add?id={{ product.id }}"><img class="oneProductLoveLogo" src="/assets/images/lovelogo.png"  alt=""></a>
            </form>
        </section>
    </div>
{% endblock %}